
:root {
    --text-color: #a21616;
    --background-color: #DEDEDE;
    --green-color: #3b8063;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --purple-color: #310d31;
    --yellow-color:#edc655;
    --orange-color: #bf4645;
}

body {
    background-color: var(--background-color);
    font-family: 'Anuphan', sans-serif;
}

h1 {
    color: var(--text-color);
    font-size: 36px;
    line-height: 1.5;
    font-style: bold;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 20px;
    line-height: 1.2;
}

a, .about__credit {
    color: var(--text-color)
}

a:visited, .about__credit {
    color: var(--purple-color);
}

a:hover, a:focus, .about__credit {
    text-decoration: none;
    opacity: 0.5;
}

a:active {
    color: var(--green-color);
}

button, .button {
    border: none; 
    display: inline-block;
    font-family: inherit; 
    background-color: var(--background-color);
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    transition: opacity 0.9s;
}

button:hover, button:focus,
.button:hover, .button:focus {
    cursor: pointer;
    opacity: 0.5;
}

.button__secondary {
    background-color: var(--white-color);
    color: var(--green-color);
}

input {
    background-color: var(--white-color);
    color: var(black-color);
}

input:hover, input:focus {
    cursor: pointer;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

.profile__portrait {
    float: left;
    width: 250px;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
}

.about {
    text-align: center;
}

.about__table {
    margin-left: auto;
    margin-right: auto;
}

.about__landmark {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 10px;
}

@keyframes color-change {
    from {
        fill: var(yellow-color);
    }
    to {
        fill: var(orange-color);
    }
}

.about__landmark-sun {
    animation: 5s color-change infinite alternate linear;
}


@keyframes cloud-move {
    from {
        transform: translate(0,50px);
    }
    to {
        transform: translate(-1500px,50px);
    }
}

.about__landmark-cloud {
    animation: 5s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(0, 50px);
    }
    to {
        transform: translate(1500px, 50px);
    }
}

.about__landmark-cloudreverse {
    animation: 5s cloud-move-reverse infinite alternate linear;
}

* {
    box-sizing: border-box;
}

.contact {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header__item {
    flex: 0 1 200px;
    }

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

form select,form input,form textarea {
    margin:5px 0;
    display:inline-block;
    margin-top: 10px;
    vertical-align: middle;
}

form label{
    display:inline-block;
    min-width:10%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid-item {
    background-color: lightgray
}

.grid-item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
}

@media all and (max-width: 500px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width:500px) and (max-width: 750px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid-container {
        grid-gap: 10px;
    }

    .grid-item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 22px;
    }
}

